/* :root applies these as global defaults for the whole document */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;         /* supports both light & dark browser UI */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;              /* removes the browser's default page margin */
  min-width: 320px;
  min-height: 100vh;       /* body always fills at least the full screen height */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* If the user's system is set to light mode, override the dark defaults above */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
